.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  background-color: var(--color-background);
}


.title {
  font-family: "Press Start 2P", serif;
  font-size: 1.3rem;
  font-weight: bolder;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px #fff, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 50px #ff0080;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 50px #ff0080;
  }
  50% {
    text-shadow: 0 0 3px #fff, 0 0 7px #ff0080, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 35px #ff0080;
  }
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #ff0080, 0 0 15px #ff0080, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 50px #ff0080;
  }
}

.menu {
  position: relative;
}

.menuBtn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.menuItems {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.menuItems li a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.menuItems.open {
  display: block;
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }

  .menuItems {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
  }

  .menuItems.open {
    display: flex;
  }
}